p {
    text-align: left;
    font-size: .9em;
    color: #817688;
    padding-left: 80px;
    padding-right: 40px;
}

body {
    margin-top: 50px;
    background-color: #E5F9F9;
    color: #601700;
    padding-top: 10px;
    text-align: center;
}
 
header {
    text-align: left;
    font-size: 3em;
    padding-left: 40px;
}

* {
    box-sizing: border-box;
}

.column {
    float: center;
    width: 100%; 
    display: inline-block; 
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: right;
    font-size: 0.75em;
    padding-right: 40px;
}

.result {
    color: #601700;
    font-size: 15px;
    margin: 1px;
}

.headresult {
    color: #601700;
    font-size: 20px;
    margin: 1px;
    padding-left: 70px;
}

#line {
    padding-left: 30px;
    padding-right: 40px;
}

#text {
    padding-left: 20px;
}